# Configuration
/.env.local

# Composer
/vendor/

# Contao Manager
/contao-manager/

# Generated folders
/assets/
/files/
/public/
/system/*
!/system/config/
/system/config/localconfig.php
/templates/
/var/

# Skip files
/system/modules/*/.skip
